/* Colors */

:root {
  /* Colors */
  --clr-primary: hsl(31, 77%, 52%);
  --clr-secondary: hsl(184, 100%, 22%);
  --clr-dark: hsl(179, 100%, 13%);
  --clr-trans-white: hsla(0, 0%, 100%, 0.75);
  --clr-light: hsl(0, 0%, 95%);
  /* Font */
  --fnt-family-base: 'Lexend Deca', sans-serif;
  --fnt-family-heading: 'Big Shoulders Display', sans-serif;
  --fnt-size-400: 1rem;
  --fnt-size-700: 1.5rem;
  --fnt-size-900: 2rem;
  --fnt-weight-400: 400;
  --fnt-weigtht-700: 700;
}

body {
  font-family: var(--fnt-family-base);
  font-size: 16px;
  padding:1rem;
}

img {
  margin: 2rem 0;
}

h1,
h2 {
  font-family: var(--fnt-family-heading);
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

}

.product {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
  padding: 2.75rem;
  min-height: 33vh;
  color: var(--clr-light);
}

.product__text {
  margin-top: 2rem;
  line-height: 2rem;
}

a.product__link {
  display: inline-block;
  border: 1px solid var(--clr-light);
  padding: 1rem 2rem;
  margin-top: 4rem;
  border-radius: 4rem;
  background-color: var(--clr-light);
  color: var(--clr-primary);
  text-decoration: none;
}

a.product__link:hover {
  background: none;
  color: var(--clr-light);
}

.product__first {
  background-color: var(--clr-primary);
  border-radius: .5rem .5rem 0 0;

}

.product__second {
  background-color: var(--clr-secondary);

}

.product__third {
  background-color: var(--clr-dark);
  border-radius: 0 0 .5rem .5rem;

}

@media screen and (min-width:992px) {
  body {
    display: grid;
    min-height: 100vh;
    place-content: center;
  }
}

@media screen and (min-width:768px) {

  .container {
    min-height: 75vh;
  }

  .product__first {
    border-radius: .5rem 0 0 .5rem;
  }

  .product__third {

    border-radius: 0 .5rem .5rem 0;
  }

  .product {
    min-height: inherit;
  }
}

footer {

  margin-top: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*CSS Reset by Jeff Cohmoh */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}